[submodule "Zmakan-Technical-Solutions/localization_contract"]
	path = Zmakan-Technical-Solutions/localization_contract
	url = git@github.com:hibapk-zmakan/localization_contract.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/localization_payroll"]
	path = Zmakan-Technical-Solutions/localization_payroll
	url = git@github.com:hibapk-zmakan/localization_payroll.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_loan"]
	path = Zmakan-Technical-Solutions/zts_loan
	url = git@github.com:hibapk-zmakan/zts_loan.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_salary_advance"]
	path = Zmakan-Technical-Solutions/zts_salary_advance
	url = git@github.com:hibapk-zmakan/zts_salary_advance.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_hr_eos"]
	path = Zmakan-Technical-Solutions/zts_hr_eos
	url = git@github.com:hibapk-zmakan/zts_hr_eos.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_attendance_sheet"]
	path = Zmakan-Technical-Solutions/zts_attendance_sheet
	url = git@github.com:hibapk-zmakan/zts_attendance_sheet.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_wps_sif"]
	path = Zmakan-Technical-Solutions/zts_wps_sif
	url = git@github.com:hibapk-zmakan/zts_wps_sif.git
	branch = 13.0
